.netrwhist
bundle/gist-vim/cookies
bundle/*/doc/*
.DotFiles
nicklistfifo
irssi/*.log
emacs.d/elpa/
emacs.d/eshell/
#*
#*#
emacs.d/url/
vim/spell
weechat/weechat_fifo_*
weechat/*.log
weechat/logs/
weechat/*.txt
weechat/script/plugins.xml.gz
