[submodule "bins/vendor/git-recent-branches"]
	path = bins/vendor/git-recent-branches
	url = git@github.com:lukaszkorecki/git-recent-branches.git
[submodule "bins/vendor/selecta"]
	path = bins/vendor/selecta
	url = git@github.com:garybernhardt/selecta.git
[submodule "bins/vendor/idone"]
	path = bins/vendor/idone
	url = git@github.com:lukaszkorecki/idone.git
