[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "zsh/highlight"]
	path = zsh/highlight
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/vim-blockle"]
	path = vim/bundle/vim-blockle
	url = git://github.com/jgdavey/vim-blockle
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
  ignore = untracked
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/vim-yardoc"]
	path = vim/bundle/vim-yardoc
	url = git://github.com/noprompt/vim-yardoc.git
[submodule "vim/bundle/json.vim"]
	path = vim/bundle/json.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-tmuxify"]
	path = vim/bundle/vim-tmuxify
	url = git://github.com/mhinz/vim-tmuxify.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
